*{
    box-sizing: border-box;
}

html,
body{
    padding: 0px;
    margin: 0px;
}


.bar{
    position: fixed;
    display: table;
    left: 0px;
    background: #cecece;
    width: 100%;
}
.bar-top{
    top: 0px;
}

.bar-bottom{
    bottom: 0px;
}
