*{
    box-sizing: border-box;
}

html,
body{
    padding: 0px;
    margin: 0px;
}


.bar{
    position: fixed;
    display: table;
    left: 0px;
    background: #cecece;
    width: 100%;
}
.bar-top{
    top: 0px;
}

.bar-bottom{
    bottom: 0px;
}

.bar h1{
    margin: 0px;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    max-height: 80px;
    padding: 15px;
    text-transform: uppercase;
}

.bar nav{
    display: table-cell;
    vertical-align: middle;
    width: auto;
    padding: 15px;
    text-transform: uppercase;
}

.bar nav ul{
    margin: 0px;
    padding: 0px;
    text-align:right;
}

.bar nav ul li{ 
   list-style: none;
   display: inline;
}

.bar nav ul li a{ 
   text-decoration: none;
   
}
